body{
    text-align: center;
    display: flex;
    justify-content: cen
    align-items: center;
    /* font-size: 100px; */
}

a{
    display: block;
    text-emphasis: none;
    padding: 14px;
}

@media (max-width:700px) {
    body {
        font-size:  10rem;
    }

    a{
        font-size: 8rem;
    }
}