body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    display: block;
    text-emphasis: none;
    padding: 14px;
}

@media (max-width:700px) {
    .body {
        font-size: 5rem;
    }

    .a{
        font-size: 2rem;
    }
}